/*.well {
    height:100px;
    font-size: x-large;
    text-align: center;
}/*

/*html {
background: url(images/red-background-with-a-pattern.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.description{

    font-size:x-large;

}
.wingsstyle{
    font-size:x-large;

}

.makhroudstyle{
    font-size: x-large;
    font-style: italic;
}
.eggbackground{

    background:url(images/blue.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.gallerydescription{
    text-align:center;
    font-size: x-large;
}

img {
    width:300px;
    height:300px;
    padding: 10px 10px;
}

.navbar-brand{

    font-family: 'Inconsolata', monospace;

}

.well{font-weight:bold;}

.navbar-custom {
    background-color:#683cb0;
    color:#683cb0;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#ffffff;
}

.navbar-custom .navbar-nav > .active > a {
    color: lightcyan;
    background-color:darkblue;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #ecf0f1;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#ffffff;
}
.navbar-custom .icon-bar {
    background-color:#ffffff;
}