/*.well {
    height:100px;
    font-size: x-large;
    text-align: center;
}/*

/*html {
background: url(images/red-background-with-a-pattern.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.description{

    font-size:x-large;

}
.wingsstyle{
    font-size:x-large;

}

.makhroudstyle{
    font-size: x-large;
    font-style: italic;
}
.eggbackground{

    background:url(images/blue.jpeg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.gallerydescription{
    text-align:center;
    font-size: x-large;
}

img {
    width:300px;
    height:300px;
    padding: 10px 10px;
}