<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

        <link rel ="stylesheet" href = "css/styleChickenWings.css">
        <title>Gulab Jamun</title>
    </head>

<body>
<!----navbar for gulab jamun-->
<nav class="navbar navbar-custom">
    <div class ="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">Joyce's Recipe Book</a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="Menu.html">Menu</a></li>
            <li><a href ="list.html" >Recipes</a></li>
            <li><a href="Wings.html" >Wings</a></li>
            <li> <a href="Makhrouds.html">Makhrouds</a></li>
            <li> <a href="EggSauce.html" >Egg Sauce</a></li>
            <li> <a href="injera.html" >Injera</a></li>
            <li class="active"> <a href="gulabjamun.html" >Gulab Jamun</a></li>
            <li> <a href="crabcake.html" >Crabcake</a></li>
        </ul>
    </div>

</nav>

<div class="container">
        <div class = "wingsstyle"> <h1>Gulab Jamun</h1>
        </div>
    <div class="row">
        <div class="col-md-6"><h2>India</h2></div>

        <div class="col-md-6"><img src="gulabjamunflag.png" alt="Indian Flag"/></div>
    </div>
    <div class="row">

            <div class="col-md-6">
                <img src="gulabjamun.jpeg" alt="Gulab Jamun"/>
            </div>


        <div class="col-md-6">
            <h2> Ingredients</h2>
            <ul>
                <li>1 cup dry milk powder  </li>
                <li>3 tablespoons all-purpose flour</li>
                <li>2 tablespoons ghee (clarified butter), melted  </li>
                <li>1/2 teaspoon baking powder  </li>
                <li>1/2 cup warm milk  </li>
                <li>1 tablespoon chopped almonds (optional)  </li>
                <li>1 tablespoon chopped pistachio nuts (optional)</li>
                <li>1 tablespoon golden raisins (optional)  </li>
                <li>1 pinch ground cardamom  </li>
                <li> 1 quart vegetable oil for deep frying   </li>
                <li> 1 1/4 cups white sugar  </li>
                <li>  7 fluid ounces water  </li>
                <li>  1 teaspoon rose water  </li>
                <li> 1 pinch ground cardamom    </li>
           </ul>








        </div>
    </div>
    <h3>
        Directions
    </h3>



<p>   In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds, pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until well blended. Cover and let rest for 20 minutes.
</p>



    <p>  In a large skillet, stir together the sugar, water, rose water and a pinch of cardamom. Bring to a boil, and simmer for just a minute. Set aside.  </p>


    <p> Fill a large heavy skillet halfway with oil. Heat over medium heat for at least 5 minutes. Knead the dough, and form into about 20 small balls. Reduce the heat of the oil to low, and fry the balls in one or two batches. After about 5 minutes, they will start to float, and expand to twice their original size, but the color will not change much. After the jamun float, increase the heat to medium, and turn them frequently until light golden. Remove from the oil to paper towels using a slotted spoon, and allow to cool. Drain on paper towels and allow to cool slightly.


    </p>
    <p> Place the balls into the skillet with the syrup. Simmer over medium heat for about 5 minutes, squeezing them gently to soak up the syrup. Serve immediately, or chill.
    </p>


<div class="well col-md-6">Serves 6</div>

</div>
</body>
</html>