<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel ="stylesheet" href = "../css/styleRecipe.css">
    <title>Welcome to Joyce's Recipe Book</title>
</head>
<body>
<!----navbar for index-->
<nav class="navbar navbar-inverse">
    <div class ="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">Joyce's Recipe Book</a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href ="list.html" >Recipes</a></li>
            <li><a href="Wings.html" >Wings</a></li>
            <li> <a href="Makhrouds.html">Makhrouds</a></li>
            <li> <a href="EggSauce.html" >Egg Sauce</a></li>
            <li> <a href="injera.html" >Injera</a></li>
            <li> <a href="gulabjamun.html" >Gulab Jamun</a></li>
            <li> <a href="crabcake.html" >Crabcake</a></li>
        </ul>
    </div>

</nav>

<p class="description" >
Travel the world without leaving your kitchen
</p>



</body>
</html>