<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel ="stylesheet" href = "../css/styleChickenWings.css">
    <title>Recipe Gallery</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class ="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Joyce's Recipe Book</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href =#>Recipes</a></li>
            <li><a href="Wings.html" >Wings</a></li>
            <li> <a href="Makhrouds.html">Makhrouds</a></li>
            <li> <a href="EggSauce.html" >Egg Sauce</a></li>
        </ul>
    </div>

</nav>

<p class="gallerydescription" >
Recipe Gallery
</p>
<div class="container">

<div class="row">
    <a href="Wings.html"><img src="chicken.jpeg"alt="chicken"class="col-md-6" /></a>
    <a href="Makhrouds.html"><img src="makhrouds.jpeg"alt="chicken"class="col-md-6" /></a>

</div>

<div class="row">
    <a href="EggSauce.html"><img src="eggstew.jpeg"alt="egg stew"class="col-md-6"/></a>
    <a href="injera.html"><img src="injera.jpeg"alt="injera"class="col-md-6"/></a>

</div>

<div class="row">

</div>
</div>
</body>
</html>