<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel ="stylesheet" href = "css/styleChickenWings.css">
    <title>Recipe Book Menu</title>
</head>
<body>


<nav class="navbar navbar-custom">
    <div class ="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <a class="navbar-brand">Joyce's Recipe Book</a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="menu.html">Menu</a></li>
            <li><a href ="list.html" >Recipes</a></li>
            <li><a href="Wings.html" >Wings</a></li>
            <li> <a href="Makhrouds.html">Makhrouds</a></li>
            <li> <a href="EggSauce.html" >Egg Sauce</a></li>
            <li> <a href="injera.html" >Injera</a></li>
            <li> <a href="gulabjamun.html" >Gulab Jamun</a></li>
            <li> <a href="crabcake.html" >Crabcake</a></li>
        </ul>
    </div>

</nav>
<h1>Menu</h1>


<div class="row">
    <div class="col-md-3 ">

    </div>
    <div class="col-md-6 text-center gallerydescription">
        Recipe
    </div>
    <div class="col-md-3 text-center gallerydescription">
        Price
    </div>
</div>


<div class="row">
    <a href="Wings.html"><img src="chicken.jpeg"alt="chicken"class="col-md-3"/> </a>
    <a class="names" href="Wings.html"><p class="col-md-6 text-center newstyle">Wings</p></a>
    <p class="newstyle"> 16.00</p>

</div>

<div class="row">
    <a href="Makhrouds.html"><img src="makhrouds.jpeg"alt="chicken"class="col-md-3" /></a>

    <a href="Makhrouds.html"><p class="col-md-6 text-center newstyle">Makhrouds</p></a>
    <p class="newstyle">2.00</p>
</div>

<div class="row">
    <a href="EggSauce.html"><img src="eggstew.jpeg"alt="egg stew"class="col-md-3"/></a>

    <a href="EggSauce.html"><p class="col-md-6 text-center newstyle">Egg Sauce</p></a>
<p class="newstyle">8.00</p>
</div>


<div class="row">

    <a href="injera.html"><img src="injera.jpeg"alt="injera"class="col-md-3"/></a>

    <a href="injera.html"><p class="col-md-6 text-center newstyle">Injera</p></a>
    <p class="newstyle">3.00</p>
</div>

<div class="row">
    <a href="gulabjamun.html"><img src="gulabjamun.jpeg"alt="gulab jamun"class="col-md-3"/></a>

    <a href="gulabjamun.html"><p class="col-md-6 text-center newstyle">Gulab Jamun</p></a>
<p class="newstyle">8.00</p>
</div>

<div class="row">

    <a href="crabcake.html"><img src="crabcake.jpeg"alt="crabcake"class="col-md-3"/></a>

    <a href="crabcake.html"><p class="col-md-6 text-center newstyle">Crabcake</p></a>
    <p class="newstyle">20.00</p>
</div>
</body>
</html>